<div align="center">
  <h1><%= @game.player %></h1>
  <% image_number = @game.lives %>
  <% if image_number.between?(0, 13) %>
    <%= image_tag "#{image_number}.svg" %>
  <% end %>


  <h3><%= @display_word %></h3>
  <p>Lives left: <%= @game.lives %></p>
  <p>Guessed letters: <%= @game.guesses %></p>


  <table>
    <tr>
      <% ('A'..'Z').each do |guess| %>
        <td>
          <%= form_with url: game_path(@game), method: :put do %>
            <%= hidden_field_tag :letter, guess %>
            <%= submit_tag guess, disabled: @game.guesses.include?(guess) || @game.lives <= 0 || (@game.gameword.chars.uniq - @game.guesses.chars.uniq).empty? %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>

    <p><%= link_to "Home", games_path %></p>

  <% if flash[:notice] %>
    <h1 class="flash"><%= flash[:notice] %></h1>
  <% end %>

</div>
